<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Page not found 4&#8709;4</title>
</head>

<body>
    <div class="main">
        <h1 class="title">4&#8709;4</h1>
    </div>
    <div class="main2">
        <h4 class="desc-404">We're sorry.<br>Seems like that page doesn't exist</h4>
    </div>
</body>

</html>