<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <script src="components/card.js" type="text/javascript" defer></script>
    <title>Computer Apps</title>
</head>

<body>
    <section id="content">
        <div class="row">

            <ul class="list-group">
                <li class="list-group-item disabled">Contacts</li>
                <li class="list-group-item">jmarcus@admin.com</li>
                <li class="list-group-item">sebastian@gmail.com</li>
            </ul>

        </div>
    </section>

</body>

</html>