<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <script src="components/header-out.js" type="text/javascript" defer></script>
    <title>Home</title>
  </head>
  <body>
    <main>
    </main>
  </body>
<html>
