<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@400;700&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bs/bootstrap.min.css">
  <link rel="stylesheet" href="css/bs/bootstrap-grid.min.css">
  <!-- Style CSS -->
  <link rel="stylesheet" href="css/sign.css">
  <title>Sign up</title>
</head>

<body>
  <!-- <header-component></header-component> -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-sign my-5">
            <div class="card-body">
              <h5 class="signTitle card-title text-center">Sign Up</h5>

              <form class="row g-3 needs-validation" novalidate method="POST" action="/signingup">
                <div class="col-md-12">
                  <label for="validationCustom01" class="form-label">First name</label>
                  <input type="text" class="form-control" id="validationCustom01" name="firstNameF" required>
                  <div class="invalid-feedback">
                    Enter your first name
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="validationCustom02" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="validationCustom02" name="lastNameF" required>
                  <div class="invalid-feedback">
                    Enter your last name
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="validationCustomEmail" class="form-label">Your email address</label>
                  <div class="input-group has-validation">
                    <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                    <input type="email" class="form-control" id="validationCustomEmail"
                      aria-describedby="inputGroupPrepend" name="emailF" required>
                    <div class="invalid-feedback">
                      Please enter a valid email
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustomPassword" class="form-label">Password</label>
                  <div class="input-group has-validation">
                    <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                    <input minlength="4" type="password" class="form-control" id="validationCustomPassword"
                      aria-describedby="inputGroupPrepend" name="passwordF" required>
                    <div class="invalid-feedback" id="password-invalid">Use 4 characters or more for your password</div>
                    <div class="valid-feedback" id="password-valid"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustomPasswordC" class="form-label">Confirm</label>
                  <div class="input-group has-validation">
                    <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                    <input type="password" class="form-control" id="validationCustomPasswordC"
                      aria-describedby="inputGroupPrepend" name="passwordConfirmF" required>
                    <div class="invalid-feedback" id="password-confirm-invalid">This field can't be empty</div>
                    <div class="valid-feedback" id="password-confirm-valid"></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (
      function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })

        //Password Validation
        var password = document.getElementById("validationCustomPassword"),
          confirm_password = document.getElementById("validationCustomPasswordC"),
          password_field_invalid = document.getElementById("password-invalid"),
          password_field_valid = document.getElementById("password-valid"),
          password_confirm_field_invalid = document.getElementById("password-confirm-invalid"),
          password_confirm_field_valid = document.getElementById("password-confirm-valid");

        function validatePassword() {
          if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            password_confirm_field_invalid.innerHTML = "Passwords Don't Match";
          } else {
            // if(password.checkValidity()) 
            confirm_password.setCustomValidity('');
            password_confirm_field_valid.innerHTML = "Passwords Match!";
          }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
      })()
  </script>
</body>

</html>