:root {
    --BG-color: rgb(240, 240, 240); /*rgb(27, 27, 27)*/;
    --BG-color2: rgb(39, 39, 39);
    --BG-press-logos: lightgray;

    --blue: #1161a3;
    --white: rgb(255, 255, 255);
    
    --text-color: black; /*rgb(255, 255, 255)*/
}

html {
    background-repeat: no-repeat;
    font-family: 'helvetica neue';
}

body {
    background-color: var(--BG-color);
    /* color: var(--text-color); */
}

.main-page {
    min-height: 1000px;
}

.main {
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    transform: rotate(-3deg);
}
.main2 {
    min-height: 0px;
    margin: -140px auto;
    width: auto;
    max-width: 420px;
    display: flex;
    align-items: justify;
    justify-content: center;
    color: var(--text-color);
}

.loader {
    border: 16px solid #f3f3f311;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom: 16px solid #9034db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.container-fluid {
    padding: 0;
}

#title {
    background-color: var(--blue);
    padding: 1% 4%;
    color: var(--text-color);
    /* box-shadow: 0 0 13px 3px var(--blue); */
}
#title-description {
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}
#title-description2 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 200;
}
#content {
    padding: 2rem;
}

/* h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
} */
h1 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 7rem;
    line-height: 1.5;
}

/*NAVBAR*/
.navbar
{
    padding-bottom: 0.4rem;
    padding-left: 0;
    width: auto;
}

.nav-item
{
    padding: 0.2rem;
}

.nav-link
{
    font-size: 1.3rem;
}

.navbar-brand
{
    font-family: 'Ubuntu';
    font-size: 2.2rem;
    font-weight: 700;
}

#signup-btn, #signin-btn {
    margin: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    /* border: white solid 0.2rem; */
    /* border-radius: 7px; */
}

.desc-404 {
    transform: rotate(1deg);
}

.content-title {
    font-weight: 700;
}
.signup-title {
    margin: 0 auto;
    margin-top: 24px;
    padding: 12px;
    width: 70%;
    height: 50%;
    background-color: var(--blue);
    text-align: center;
}